<a href="https://colab.research.google.com/github/Golen94/data-science-bc/blob/main/nestbanktest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
list(range(1, 11))[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [2]:
warunek_1 = True is True
warunek_2 = "slowo" == "slowo"
warunek_3 = 5 <= 6


if warunek_1 and warunek_2 and warunek_3:
    print("Prawda")

Prawda

In [3]:
class Budynek:
    def __init__(self):
        self.instancja_podklasy = Pomieszczenie()

    def podaj_podklase(self):
        return self.instancja_podklasy


class Pomieszczenie:
    def podaj_imie(self):
        return "Łukasz"

    def podaj_nazwisko(self):
        return "Nowak"


cokolwiek = Budynek()
cokolwiek.podaj_podklase().podaj_imie()

'Łukasz'

In [5]:
check = 'From Jan.Nowak@nestbank.pl Poniedzialek Styczen  5'
res = check.split()
print(res[3])

Styczen

In [6]:
counts = dict()
names = ['mateusz','tomek','mateusz','adam','tomek']
for name in names:
    counts[name]=counts.get(name,0) + 1
print(counts)

{'mateusz': 2, 'tomek': 2, 'adam': 1}